<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="edu.umn.creativityexercise.oaeapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Originality Development Engine</name>
  <description>
    Original thinking is the generation of ideas that are rare or unique. It is closely tied to fluency, the ability to produce a lot of ideas. The more ideas, the greater chance of an unusual, rare, or original result.
  </description>
  <author email="ck@origineight.net" href="http://origineight.net/">
    OriginEight
  </author>
  <content src="index.html"/>
  <access origin="*"/>

  <gap:platform name="ios" />
  <gap:platform name="android" />

  <preference name="phonegap-version" value="3.5.0"/>

  <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
  -->
  <preference name="permissions" value="none"/>

  <preference name="orientation" value="portrait" />
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <!-- iOS Only -->
  <preference name="webviewbounce" value="false"/>
  <preference name="target-device" value="universal" />
  <preference name="exit-on-suspend" value="true" />
  <preference name="prerendered-icon" value="true" />
  <preference name="ios-statusbarstyle" value="black-opaque" />
  <preference name="auto-hide-splash-screen" value="false" />
  <preference name="show-splash-screen-spinner" value="false" />
  <!-- Android Only -->
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="android-installLocation" value="auto" />
  <!-- <preference name="splashscreen" value="splash.png" /> -->
  <preference name="SplashScreen" value="splash"/>
  <preference name="SplashScreenDelay" value="3000"/>

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

<!--   <feature name="SplashScreen">
    <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    <param name="ios-package" value="CDVSplashScreen" />
  </feature>

 -->
  <!-- Plugins -->
  <!-- device required so we can detect if we are using iOS -->
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.splashscreen" />

  <!-- Phonegap Build versions -->
  <!-- Default icon -->
  <icon src="resources/ios/icon/icon-small@3x.png" />

  <icon src="resources/ios/icon/icon.png" width="57" height="57" gap:platform="ios" />
  <icon src="resources/ios/icon/icon@2x.png" width="114" height="114" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-40.png" width="40" height="40" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-40@2x.png" width="80" height="80" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-50.png" width="50" height="50" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-50@2x.png" width="100" height="100" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-60.png" width="60" height="60" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-60@2x.png" width="120" height="120" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-60@3x.png" width="180" height="180" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-72.png" width="72" height="72" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-72@2x.png" width="144" height="144" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-76.png" width="76" height="76" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-76@2x.png" width="152" height="152" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-small.png" width="29" height="29" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-small@2x.png" width="58" height="58" gap:platform="ios" />
  <icon src="resources/ios/icon/icon-small@3x.png" width="87" height="87" gap:platform="ios" />

  <!-- Default splash, must be named splash.png and on the root -->
  <gap:splash src="splash.png" />

  <gap:splash src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" height="1136" gap:platform="ios" />
  <gap:splash src="resources/ios/splash/Default-667h.png" width="750" height="1334" gap:platform="ios" />
  <gap:splash src="resources/ios/splash/Default-736h.png" width="1242" height="2208" gap:platform="ios" />
  <gap:splash src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" height="2048" gap:platform="ios" />
  <gap:splash src="resources/ios/splash/Default-Portrait~ipad.png" width="768" height="1024" gap:platform="ios" />
  <gap:splash src="resources/ios/splash/Default@2x~iphone.png" width="640" height="960" gap:platform="ios" />
  <gap:splash src="resources/ios/splash/Default~iphone.png" width="320" height="480" gap:platform="ios" />

  <icon src="resources/android/icon/drawable-ldpi-icon.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="resources/android/icon/drawable-mdpi-icon.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="resources/android/icon/drawable-hdpi-icon.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="resources/android/icon/drawable-xhdpi-icon.png" gap:platform="android" gap:qualifier="xhdpi"/>
  <icon src="resources/android/icon/drawable-xxhdpi-icon.png" gap:platform="android" gap:qualifier="xxhdpi"/>
  <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" gap:platform="android" gap:qualifier="xxxhdpi"/>

  <gap:splash src="resources/android/splash/drawable-port-ldpi-screen.png" gap:platform="android" gap:qualifier="port-ldpi"/>
  <gap:splash src="resources/android/splash/drawable-port-mdpi-screen.png" gap:platform="android" gap:qualifier="port-mdpi"/>
  <gap:splash src="resources/android/splash/drawable-port-hdpi-screen.png" gap:platform="android" gap:qualifier="port-hdpi"/>
  <gap:splash src="resources/android/splash/drawable-port-xhdpi-screen.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
  <gap:splash src="resources/android/splash/drawable-port-xxhdpi-screen.png" gap:platform="android" gap:qualifier="port-xxhdpi"/>
  <gap:splash src="resources/android/splash/drawable-port-xxxhdpi-screen.png" gap:platform="android" gap:qualifier="port-xxxhdpi"/>

</widget>
