<ion-view view-title="Divergent Thinking">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <p>
          Placeholder.<br />
          Sed fringilla mauris sit amet nibh. Pellentesque posuere. Fusce fermentum odio nec arcu. Curabitur blandit mollis lacus. Fusce commodo aliquam arcu.<br />
          Proin faucibus arcu quis ante. Morbi ac felis. Ut leo. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Curabitur at lacus ac velit ornare lobortis.
        </p>
      </div>
    </div>
    <div class="copyright text-center">
      <small>&copy; 2015 Regents of the University of Minnesota.<br />All rights reserved.</small>
    </div>
  </ion-content>
</ion-view>
