<ion-view view-title="Divergent Thinking">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <p>Divergent thinking is how to see lots of possible answers to a question, how to think non linearly, to use lots of ways to interpret a question, and how to see multiple answers, not just one. Divergent thinking seeks multiple and unusual answers and ideas for any given problem. That's the focus of this app. The key is in generating multiple ideas.</p>
        <p>Convergent thinking, in contrast, is the process on focusing in and developing one solution, often through a logical process. Both are needed for creativity.
        </p>
      </div>
    </div>
    <div class="copyright text-center">
      <p><small>&copy; 2015 Regents of the University of Minnesota.<br />All rights reserved.</small></p>
      <div><img src="img/MaroonBlockM.png" class="umn-logo"></div>
    </div>
  </ion-content>
</ion-view>
