<ion-header-bar class="bar-subheader">
  <h2 class="title">{{test.alt}}</h2>
</ion-header-bar>
<ion-view view-title="{{user.email}}" hide-back-button="true">
  <ion-content>
    <div class="test-image">
      <img class="test-image full-image" ng-src="{{test.image}}">
    </div>
    <ion-list>
      <ion-item class="test-count">
        <span>Time is up!</span>
        <div class="float-right">
          <a class="button button-small button-balanced" ng-click="doTest()">Try Again</a>
          <a ui-sref="tab.results" class="button button-small button-calm">View Results</a>
        </div>
      </ion-item>
      <ion-item class="item-divider ideas">
        <p>You have created <strong>{{ideasCount}}</strong><ng-pluralize count="ideasCount"
            when="{'0': ' ideas',
                   'one': ' idea',
                   'other': ' ideas'}">
          </ng-pluralize> for this image.</p>
      </ion-item>
      <ion-item class="item-icon-right item-text-wrap" ng-repeat="idea in ideas | reverse track by $index">
        <p class="item-content">
          <span class="counter">{{ideas.length - $index}}</span>
          <span class="idea">{{idea}}</span>
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
