<ion-view view-title="{{test.alt}}" hide-back-button="true">
  <ion-content>
    <div class="test-image">
      <img class="test-image full-image" ng-src="{{test.image}}">
    </div>
    <div class="test-count">
      <div class="ideas-count balanced">
        <ng-pluralize count="ideasCount"
          when="{'0': '0 Ideas',
                 'one': '1 Idea',
                 'other': '{} Ideas'}">
        </ng-pluralize>
      </div>
      <small>Write your idea and <br/>press "Enter" to start the next one.</small>
    </div>
    <div class="test-idea padding">
      <label class="item item-input">
        <textarea name="idea" placeholder="Your idea here"
          ng-model="$parent.idea"
          ng-keyup="$event.keyCode == 13 ? enterIdea() : ''"
          split-array>
        </textarea>
      </label>
    </div>
  </ion-content>
  <ion-nav-title>
    {{test.alt}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-large button-clear button-balanced">
    <timer id="countdown" interval="1000" countdown="countdownDuration" autostart="false" finish-callback="endTest()">{{countdown}}s</timer>
    </button>
  </ion-nav-buttons>
</ion-view>
