<ion-header-bar class="bar-subheader">
  <h2 class="title">{{user.email}}</h2>
</ion-header-bar>
<ion-view view-title="Test" hide-back-button="true">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"><i class="icon ion-ios-stopwatch-outline"></i> Start a New Test</div>
      <div class="item item-body">
        <p ng-show="isFirstTest">
          This is your first test as <strong>{{user.email}}</strong>.
        </p>
        <p>You will be shown an image and you will have</p>
        <div class="text-center"><strong>120 seconds</strong></div><br />
        <p>to list as many creative ideas about this image. Speed is important, and spelling will not be checked for your answers. Please use the language which is most comfortable for you for best idea generation. Press Enter/Return after each idea.</p>

        <p>Click this button when you are ready.</p>
      </div>
      <div class="item item-divider">
        <button class="button button-block button-positive" ng-click="doTest()">Start Test</button>
      </div>
    </div>
    <div class="list card" ng-hide="isFirstTest">
      <div class="item item-divider"><i class="icon ion-ios-pulse-strong"></i> Statistics</div>
      <div class="item item-body">
        <p>You have previously taken this test for <strong>{{user.numTestsTaken}}</strong> <ng-pluralize count="user.numTestsTaken"
          when="{'0': ' times',
                 'one': ' time',
                 'other': ' times'}">
        </ng-pluralize>.<br />
        Select the Results tab to see your progress.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
