<ion-header-bar class="bar-subheader">
  <h2 class="title">Originality Development Engine</h2>
</ion-header-bar>

<ion-view view-title="About">
  <ion-content>
    <div class="list card page-about">
      <div class="item item-avatar">
        <img src="img/brad.jpg">
        <h2>Brad Hokanson, Ph.D</h2>
        <p>Director of Educational Futures<br />College of Design<br />Professor, Graphic Design Program</p>
      </div>

      <div class="item item-body">
        <p>
          <img src="img/umn-oae-logo.jpg" class="logo pull-right">
          Original thinking is the generation of ideas that are rare or unique. It is closely tied to fluency, the ability to produce a lot of ideas. The more ideas, the greater chance of an unusual, rare, or original result. Research has shown that generating more than 10 ideas greatly increases the likelihood of an idea being considered original. Logically, people usually list the most common, un-original ideas first and only later reach ideas that haven't been tried or found successful. Of course, the same old ideas come up first. Completing this test on a regular basis will provide good practice at inventing new ideas. There are no wrong answers, and this is meant to develop one's own skill in creativity.
        </p>
        <p>
          Each time a test is completed, a percentile rank will be displayed and the 20 most recent test scores will be saved under an email address. Percentile ranking is calculated by samples selected from an earlier version of the Originality Development Engine. This is meant for comparison purposes only. The average score is about 7.5 answers per picture, and those developing more than 13 answers are above the 90th percentile. Those generating more than 19 answers are above the 99th percentile.
        </p>
        <p>
          Brad Hokanson is a professor of design at the University of Minnesota and has developed creativity in learners for over 15 years.
        </p>
      </div>
    </div>

    <ion-list ng-init="tabs = isLoggedIn ? 'tab' : 'logintab'">
      <ion-item class="item-remove-animate item-icon-right" ng-href="#/{{tabs}}/about/divergent">
        Divergent Thinking
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-right" ng-href="#/{{tabs}}/about/tos">
        Terms of Use
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <div class="copyright text-center">
      <small>&copy; 2015 Regents of the University of Minnesota.<br />All rights reserved.</small>
    </div>
  </ion-content>
</ion-view>
