<ion-view view-title="Terms of Use">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img src="img/umn-oae-logo.jpg">
        <p>
          Anonymous data from the this exercise will be used to improve the course and the learning experience; your identity will be protected. A timer will be visible during the exercise, and you will be able to track your own progress using your own results for each time you complete the exercise.
        </p>
      </div>
    </div>
    <div class="copyright text-center">
      <small>&copy; 2015 Regents of the University of Minnesota.<br />All rights reserved.</small>
    </div>
  </ion-content>
</ion-view>
