<ion-view view-title="Terms of Use">
  <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img src="img/umn-oae-logo.jpg">
        <p>
          This app is solely for personal development of creative capability; results will vary with individual use. A timer will be visible during the exercise and you will be able to track our own progress using your own results for each time you complete the exercise. Personal data will saved on this phone and not be collected online.
        </p>
      </div>
    </div>
    <div class="copyright text-center">
      <p><small>&copy; 2015 Regents of the University of Minnesota.<br />All rights reserved.</small></p>
      <div><img src="img/MaroonBlockM.png" class="umn-logo"></div>
    </div>
  </ion-content>
</ion-view>
